<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 g-3">
            <div *ngFor="let cart of cartItems" class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col-md-4">
                    <img class="img-responsive" width="300" height="200" [src]="cart.values[0].image != null ? cart.values[0].image : noImage">
                </div>
                <div class="col p-2 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-success-emphasis">Produto</strong>
                  <h3 class="mb-0">{{ cart.name }}</h3>
                  <h5>Preço {{ cart.values[0].price | currency: 'BRL' }}</h5>
                  <p>Quantidade: {{ cart.values.length }}</p>
                </div>
                <div class="d-flex p-2 justify-content-end">
                    <div class="btn-group">
                      <button type="button" (click)="removeItem(cart)" class="btn btn-sm btn-danger">Remover</button>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
